# project deps
**/node_modules
# configuration files
# env files
**/*.env
# js files (in src)
src/*.js
# language server cache | i need it -david
**/*.lscache
**/.idea
**/obj
**/bin

# prefix folders with old- if not used anymore/unsure if going to be added
services/old-*
/AssetValidationV2/AssetValidationV2.exe
AssetValidationV2/AssetValidationV2.exe
/Roblox/.idea/.idea.Roblox/.idea/workspace.xml
Roblox/Roblox.Website/ffprobe.exe
Roblox/Roblox.Website/ffmpeg.exe
Roblox/Roblox.Website/ffplay.exe
api/api.zip
Roblox/.vs/Roblox/v17/DocumentLayout.json
Roblox/.vs/Roblox/FileContentIndex/823af571-e643-4ced-85f3-d8bfd49c2a38.vsidx
Roblox/.vs/Roblox/v17/.suo
Roblox/.vs/Roblox/v17/.futdcache.v2
Roblox/.vs/ProjectEvaluation/roblox.projects.v7.bin
Roblox/.vs/ProjectEvaluation/roblox.metadata.v7.bin
Roblox/.vs/Roblox/DesignTimeBuild/.dtbcache.v2
/Roblox/.vs
/.idea/
/.vscode/
Roblox/.vs/Roblox/config/applicationhost.config
Roblox/.vs/Roblox/FileContentIndex/5a30b269-bd6e-4330-817a-5c2a989f26e0.vsidx
Roblox/.vs/Roblox/FileContentIndex/8db56259-e33c-44fa-85b4-e7edf638ffa6.vsidx
Roblox/.vs/Roblox/FileContentIndex/99fb00bd-28d7-4704-ad3d-06e9307c328f.vsidx
Roblox/.vs/Roblox/FileContentIndex/a7e2dc6b-0621-4775-9514-7c195d736c45.vsidx
Roblox/.vs/Roblox/FileContentIndex/adecfea4-6725-4008-abd6-b850c18176ee.vsidx
Roblox/.vs/Roblox/FileContentIndex/be68c10c-71be-4aec-8823-9ec4a64fef90.vsidx
Roblox/.vs/Roblox/FileContentIndex/5a30b269-bd6e-4330-817a-5c2a989f26e0.vsidx
Roblox/.vs/Roblox/FileContentIndex/8db56259-e33c-44fa-85b4-e7edf638ffa6.vsidx
Roblox/.vs/Roblox/FileContentIndex/5a30b269-bd6e-4330-817a-5c2a989f26e0.vsidx
Roblox/.vs/Roblox/FileContentIndex/8db56259-e33c-44fa-85b4-e7edf638ffa6.vsidx
/Roblox/.vs
Roblox/.vs/Roblox/FileContentIndex/5a30b269-bd6e-4330-817a-5c2a989f26e0.vsidx
services.7z
RCCService/RCCService2020.rar
RCCService/RCCService2020.zip
game-renderer/src/controllers/gameServerRCC.js
game-renderer/src/routers/gameServerRouter.js

.DS_Store
node_modules
/admin/public/build/*
package-lock.json
!frontend/package-lock.json
yarn.lock
Roblox/.editorconfig
/Roblox/.idea/.idea.Roblox/.idea/dataSources
/Roblox/.idea/.idea.Roblox
/RCCService2020
/2016-roblox-main.old
/22
/api/public/img/setup
/game-arbiter
/Roblox.Goob
/RCCService2020
/Roblox.Goob
/Roblox/.idea
/game-arbiter
/22
/2016-roblox-main.old
2016-roblox-main/package-lock.json
2016-roblox-main/package-lock.json
/game-renderer/dist
/game-renderer/RCCService
/RCCService2020.Korone
game-renderer/themeparktycoon2.rbxl
game-renderer/package-lock.json
game-renderer/package-lock.json
game-renderer/eslint.config.js.old
/game-renderer/.idea
2016-roblox-main/config.goober.json
/2016-roblox-main/.next
/2016-roblox-main/.idea
/admin/.idea
/Roblox/.idea
/admin/.idea
/Roblox/.idea
/api/public/images/Groups
/api/public/images/Thumbnails
/api/storage
/api/asset

# testing stuff i need
/api/publiccss
/api/publicjs
/api/publicfonts
/api/publicadmin
/api/publicimg
/api/publicimages
/api/publicUnsecuredContent

_publishcheck/
